/* .navbar {
  background-color: black;
} */
/* .nav-theme {
  background-color: white;
  font-size: 20px;
} */
.animate-navbar {
  box-shadow: 5px 5px 5px hsla(150, 20%, 8%, 0.973);
  animation: moveDown 0.5s ease-in-out;
}

/* .nav-links {
  /* display: inline-block; */
/* height: 20px; */
/* background-color:white; */
/* color: black; will change color of text within the element */
/* //} */

.nav-links:hover {
  background-color: orange; /*will change background-color of element on hover */
  color: black; /*will change color of text within the element on hover */
}

.nav-links:active {
  background-color: red;
  color: red;
}
/* body {
  background-color: #9D8D8F;
} */
/* .navbar-light .navbar-brand {
  color: white;
  font-weight: bold;
} */

/* .navbar-light .navbar-brand:hover {
  color: red;
  border: 2px;
  border-color: white;
} */

/* .navbar-light .navbar-brand:active {
  color: green;
} */
/* a .Nav-logo{
    width: 1cm;
    height: 1cm
} */

/* .navbar-dark .navbar-nav .nav-link {
  color: red;
  font-weight: bold;
} */

/* a.nav-link.active {
  color: red;
} */

.fas.fa-calendar,
.fas.fa-id-badge,
.fas.fa-address-card,
.fas.fa-download,
.fas.fa-newspaper,
.fa-dollar-sign {
  color: grey;
}
